.maincomp{
  background-color: rgba(22, 69, 139, 0.938);
  height: 100vh;
}

.head{
  padding-top: 5vh;
  font-size: xx-large;
}

img{
  margin: 3vw;
  margin-bottom: 2vh;
  height: 80vh;
  width: 45vw;
  border: 2px solid rgba(138, 120, 120, 0.753);
}

.btn{
  margin-left: 3vw;
  padding:2vh 8vw;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid rgb(29, 73, 34);
}